      {% extends 'base.html.twig' %}

        {% block title %}Hello Vendeur{% endblock %}

      {% block body %}
      <br>  <h3> Liste des producteurs:</h3>
    <div class="container">
    <div class="row">
    
      {% for vendeur in vendeurs %} 
        <div class=" col-xl-4 col-lg-4 col-12 col-md-6 mb-5">

          <div class="card" >
              <div class="card-body">
                <img src="{{ asset('images/' ~ vendeur.raisonSociale ~ '.jpg')}}" alt="vendeur" class="img-fluid">
                <h5 class="card-title">{{vendeur.raisonSociale}}</h5>
                <p class="card-text">{{vendeur.description}}</p>
                <a href="{{ path('produitsVendeur', {'id' : vendeur.id})}}" class="btn btn-primary">Voir les articles en vente</a>
              </div>
            <!-- <ul class="list-group list-group-flush">
              <li class="list-group-item">
              </li>
            </ul> -->
          </div>
        </div>
            
      {% endfor %}
     </div>
    </div>
    {% endblock %}
